body {
font-family: "Courier New", Courier, monospace;
background: url("images/constructive-backdrop.jpg") no-repeat center center fixed;
-o-background-size: cover; /*for Opera, webkit for Chrome and moz for Firefox*/
margin: 0;
padding: 0;
background-size: cover;/*resize background to cover entire container*/
}

h1, h3, p {
float: left;
clear: left; /*where floating elements are not allowed to flow*/
width: 320px;
text-align: center;
background-color: #fff;
color: #5a514c;
}
/*box model in css: content->padding->border->margin
for exp margin values are clockwise -> top,right,down,left
3 values - top, right+left, bottom
2 values top+down, right+left*/
h1 {
margin: 50px 0 0 50px;
height: 175px;
background-image: url("images/constructive-logo.gif");
background-repeat: no-repeat;
text-indent: -99999px;/*first line of the text*/
border-top: 1px solid red;
border-left: 1px solid red;
border-right: 1px solid red;
}

h3 {
margin: 0 0 0 50px;
padding: 25px 0 0 0 0;
font-family: 'Open Sans', arial, sans-serif;
font-size: 1.8em; /*em -> 1.8 size of element*/
font-style: italic;
font-weight: 800;
line-height: 0.80em;
letter-spacing: -0.02em;
text-transformation: uppercase;
border-left: 1px solid yellow;
border-right: 1px solid yellow;
}

p {
margin: 0 0 0 50px;
padding: 30px 0 25px 0;
font-weight: bold;
text-align: center;
border-top: 1px solid cyan;
border-left: 1px solid cyan;
border-right: 1px solid cyan;
}

p + script + h3 { /*this apply only to exactly that setup of html  */
padding-bottom: 20px;
border-bottom: 1px solid gray;
}

html{
height:100%;
min-height:100%;
}
body{
min-height:100%;
}